*, ::after, ::before {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eee;
}

ul {
    list-style: none;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
}

aside {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    position: relative;
    transition: .3s;
    left: -25%;
}

aside.show {
    left: 0;
}

aside .logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside .logo h3 span {
    color: blueviolet;
}

aside .logo .btn_close {
    padding: 5px;
    font-size: 14px;
    font-weight: 900;
    background-color: red;
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    transition: .3s;
}

aside .links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 0 0;
}

aside .links li {
    padding: 10px;
    transition: .3s;
}

aside .links li:hover {
    background-color: #ccc;
    cursor: pointer;
}

aside .icons {
    margin: 50px 0 0;
    text-align: center;
}

aside .logo .btn_close:hover {
    background-color: #ccc;
    color: #000;
}

article {
    width: 75%;
    position: relative;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

article .menu {
    cursor: pointer;
    background-color: yellowgreen;
    padding: 2px 10px;
    border-radius: 8px;
    transition: .3s;
}

article .menu.rotate {
    background-color: blueviolet;
}

article .menu i {
    font-size: 18px;
    color: #fff;
}


